<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension.ja.rawlazy">
    <application>
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value="eu.kanade.tachiyomi.extension.ja.rawlazy.RawLazy" />
        <meta-data
            android:name="tachiyomi.extension.name"
            android:value="RawLazy" />
        <meta-data
            android:name="tachiyomi.extension.lang"
            android:value="ja" />
        <meta-data
            android:name="tachiyomi.extension.version"
            android:value="1.5.1" />
        <meta-data
            android:name="tachiyomi.extension.code"
            android:value="1" />
        <meta-data
            android:name="tachiyomi.extension.libVersion"
            android:value="1.3" />
    </application>
</manifest>
